* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

nav ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

nav,
nav ul {
    display: flex;
}

nav {
    flex-flow: row wrap;
    justify-content: space-between;
    background-color: #806D40;
    color: white;
}

nav [class^="navbar"] {
    flex-flow: row wrap;
}

nav ul li {
    text-align: center;
    padding: 15px;
    cursor: default;
}

nav ul li:hover:not(.brand) {
    background-color: #382633;
    text-align: center;
    padding: 15px;
    cursor: pointer;
}

@media screen and (max-width: 560px) {
    nav [class^="navbar"] {
        width: 100%;
        flex-flow: column wrap;
    }
}

body {
    background-color: white;
}

.header-background {
    width: 100%;
    height: 480px;
    background: url("../images/background.jpg");
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
}

.header-title {
    padding: 30px;
    margin: 10px;
    text-align: center;
}


/* container 的設定 */

.container-fluid,
.container {
    margin-left: auto;
    margin-right: auto;
}

.container-fluid {
    width: 100%;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
}

section {
    padding: 30px 0;
}

section .section-header {
    text-align: center;
}

.section-box {
    width: 100%;
    border: 1px solid #382633;
    padding: 15px;
    border-radius: 15px;
}

.section-box-title {
    text-align: center;
}

.section-box:hover {
    background-color: #382633;
    color: white;
}

footer {
    padding: 40px;
    background-color: #806D40;
    text-align: center;
    color: white;
    display: block;
}